{% extends "admin_header.html" %}
{% block page_title %}Interview_new{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/interview_edit.css">
{% endblock %}

{% block content %}
	<div class ="add">
			<form action="{{url_for('interview.interview')}}" method="POST">
				{{ form.hidden_tag() }}
				<p>{{ form.result.label() }} {{ form.result }}</p>
				<p>{{ form.scores.label() }} {{ form.scores }}</p>
				<p>{{ form.int_date.label() }} {{ form.int_date }}</p>
				<p>Employee</p>
				<div class="list" >

			        <p><select name="agent_id" id="agent_id" >
                         <option selected disabled>
							 {%  if form.name_emp %}
							 	{{ name_emp }}
							 {% else %}
							 	Employee
							 {% endif %}
						 </option>
                        {% if array !=None %}
                            {% for i in array %}
                            <option>{{ i.get('Name') }}</option>
                            {% endfor %}
                        {% endif %}
                       </select>
                   </p>
			    </div>
				{{ form.submit() }}
			</form>
	</div>
{% endblock %}