{% extends "admin_header.html" %}
{% block page_title %}Interview{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/interview.css">
{% endblock %}

{% block content %}
<div>
		<div class="res"><a href="{{ url_for('interview.new_interview') }}">New </a></div>
		<div class="res"><a href="{{ url_for('interview.results') }}">Results</a></div>
		<div class="res"><a href="{{ url_for('interview.interview') }}">All</a></div>
		<div class="response">
				<table class="table" id="table">
					<thead class="thd">
					<tr>
						<th>Full name</th>
						<th>Vacancy</th>
						<th>Scores</th>
						<th>Result</th>
						<th>Employee</th>
						<th>Date of the event</th>
						<th>Resume</th>
						<th>Actions</th>
					</tr>
					</thead>
					<tbody class="tby">
					{% for i in array %}

					<tr class="tr" id="tr">

						<td>{{i.get('Name')}}</td>
						<td>{{i.get('Name_pos')}}</td>
						<td>{{i.get('Scores')}}</td>
						<td>{{i.get('Result')}}</td>
						<td>{{i.get('Name_emp')}}</td>
						<td>{{i.get('Int_date')}}</td>
						<td>{{i.get('Resume')}}</td>
						<td>
							<div class="menu">
								<a class="edit" href="{{ url_for('interview.edit_interview', Int_id=i.get('Int_id')) }}">Edit</a>
								<a class="edit" href="{{ url_for('interview.show_candidate', Int_id=i.get('Int_id')) }}">Show</a>
							</div>
						</td>
					</tr>
					{% endfor %}
					<tbody>

				</table>
		</div>
</div>

{% include 'paginator.html' %}
{% block paginator %}{% endblock %}

{% endblock %}