.table {
    max-width:400px;
    text-align:center;
    padding:10px;
}

.pnc{
    font-size:19px;
    padding-top:6px;
    padding-bottom:8px;
}

input {
    width:70%;
}

p {
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
}

select {
    background-color: white;
    width:50%;
    text-align:center;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:6px;
}

.table.e{
    transition: all .3s;
}

.table.e1{
}

.table tbody tr:hover{
    border-radius: 40px ;
    background-color:#ccc;
    text-decoration: none;
}

.tbody{
    position:relative;
}

.container{
    width: 1170px;
    margin: 0  auto;
    padding: 0 15px;
    margin-top:50px;
}

.table th {
    background: #D3D3D3;
    color:black;
    font-size:20px;
    padding-top:15px ;
    padding-bottom:15px;
}

.table {
    width: 100%;
    position:relative;
    border-collapse:collapse;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-decoration: none;

}

.table th:nth-child(even){
    background:#DCDCDC;
}

.submit{
    padding-top:1%;
    padding-bottom:1%;
    margin-top:2%;
    margin-bottom:4%;
    width:20%;
    box-shadow: 0 3px 0 #3c354a;
    border-radius:12px solid white;
}

.submit:hover{
    box-shadow: 0 1px 0 #3c354a;
    color: #daa520;
}

.submit.active{
    display:flex;
}

.table td {
    text-align:center;
    text-decoration: none;
    padding-top:10px ;
    padding-bottom:10px;
    font-size:22px;
}


