.add:hover{
    box-shadow: 0 1px 0 #3c354a;
	top: 2px;
	background-color: #FFEBCD;
	cursor:crosshair;
}

.table tbody tr:hover{
    border-radius: 40px ;
    background-color:#ccc;
    text-decoration: none;
}

.add {
    top:150px;
    left:60px;
    margin:0 auto;
    width:250px;
    height:300px;
    position:relative;
    text-align:center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius:6px ;
    background-color:#D3D3D3;
}

.add p {
    font-weight: bold;
    padding-top:20px;
}

.add input[type="submit"]{
    margin-top:20px;
    position:relative;
}

.add textarea.text{
    margin-top:20px;
    height:120px;
    width:200px;
    text-align:top;
    resize: none;
}

.response {
    position:relative;
    margin-top:5%;
}

.table th{
    background: #D3D3D3;
    color:black;
    font-size:20px;
    padding-top:15px ;
    padding-bottom:15px;

}

.table{
    width: 80%;
    position:relative;
    border-collapse:collapse;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-decoration: none;

}

.table th:nth-child(even){
    background:#DCDCDC;
}
