.table.e{
    transition: all .3s;
}

.table.e1{
}

.table tbody tr:hover{
    border-radius: 40px ;
    background-color:#ccc;
    text-decoration: none;
}
.response {
    position:relative;
}

.tbody{
    position:relative;
}

.container{
    width: 68%;
    margin: 0  auto;
    padding: 0 15px;
    margin-top:50px;
}

.table th{
    background: #D3D3D3;
    color:black;
    font-size:20px;
    padding-top:15px ;
    padding-bottom:15px;
}

.table{
    width: 100%;
    position:relative;
    border-collapse:collapse;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-decoration: none;
}

.table th:nth-child(even){
    background:#DCDCDC;
}

.search_add
{
   padding:0;
   margin:0;
   margin-bottom:15px;
   position:relative;
}

.search {
    margin:0 auto;
    height:26px;
    width:300px;
    border-radius:13px;
    border:0.2px solid black;
    font-size:20px;
    text-align:center;
}

.add {
	width: 100px;
	height: 60px;
	background-color: #C0C0C0;
	border: 1px solid #808080;
	border-radius: 6px;
	font-size: 20px;
	font-family: Cormorant;
	box-shadow: 0 2px 0 #3c354a;
	text-align:center;
	padding:5px;
	left:60px;
	color:black;
	text-decoration:none;
}

.add:hover {
    box-shadow: 0 1px 0 #3c354a;
	top: 2px;
	background-color: #FFEBCD;
	cursor:crosshair;
}

.table td {
    text-align:center;
    text-decoration: none;
    padding-top:10px ;
    padding-bottom:10px;
    font-size:22px;
}

.empl3 .open {
    width:100px;
    header:100px;
    background-color:black;
}

.menu{
    text-decoration: none;
}

.menu a:hover{
    background-color:#FFEBCD;
}


