.add {
    top:150px;
    left:60px;
    margin:0 auto;
    width:250px;
    height:400px;
    position:relative;
    text-align:center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius:6px ;
    background-color:#D3D3D3;
}

.add p {
    font-weight: bold;
    padding-top:20px;
}

.add input[type="submit"]{
    margin-top:20px;
    position:relative;
}

.add textarea.text{
    margin-top:20px;
    height:120px;
    width:200px;
    text-align:top;
    resize: none;
}

.heading {
    padding-top:1%;
    margin-top:2%;
}
