.vacancy {
    width:300px;
    margin:0 auto;
    margin-top:40px;
    position:relative;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
    border-radius:8px;
    padding: 0px 0px 20px 0px;
}

.send {
    left:29%;
    font:15px;
    background-color: #D3D3D3;
    border-radius:6px;
    position:relative;
    text-decoration:none;
    color:black;
}

.send:hover{
    top:3px;
}

.vacancy .p1{
    top:10px;
    position:relative;
    text-align:center;
    text-weight:bold;
    font-size:28px;
}

.vacancy .p2{
    text-align:center;
    font-size:17px;
    position:relative;
    padding:0 20px 40px 20px;
}
