
header {
	width: 100%;
	height: 90px;
	text-align:center;
	background-color: #D3D3D3;
	border-bottom: 2px solid #808080;
	top: 0;
    left: 0;

    padding: 0  ;
	margin: 0 ;
 }


.container{
    width: 1170px;
    margin: 0  auto;
    padding: 0 15px;
    margin-top:50px;
}

section {
	 width: 100%;
	 height: 100vh;
}

.nav {
	text-transform: uppercase;
	float: right;
	display:flex;
	padding-top: 20px;
	padding-right: 60px;
}

.nav > li {
    display: flex;
    align-items: stretch;
}

.nav_link{
	/*display: inline-block;*/
	vertical-align: top;
	color: black;
	margin: 0 15px;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	/*background-color: orange;*/
	/*border-radius: 9px;*/
	/*box-shadow: 0 5px 0 #3c354a;*/
	text-decoration: none;
	transition: color 0.5s linear;
	transition: margin-top 0.2s linear;
}

.nav_link:hover{
margin-top: 7px;
/*box-shadow: 0 3px 0 #3c354a;*/
/*background-color: #daa520  ;*/
color: #daa520;
}

body {
	padding: 0  ;
	margin: 0 ;
	font-family: Cormorant;
}
.add {
    top:150px;
    left:60px;
    margin:0 auto;
    width:250px;
    height:300px;
    /*border:1px solid black;*/
    position:absolute;

    text-align:center;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius:6px ;
    background-color:#D3D3D3;

}
.add p {
    font-weight: bold;
    padding-top:20px;


}
.add input.heading {
    width:200px;

}

.add input[type="submit"]{
    margin-top:20px;
    position:relative;

}

.add textarea.text{
    margin-top:20px;
    height:120px;
    width:200px;
    text-align:top;
    resize: none;
}





/*
.add.text{
    height:100px;
    width:50px;
    position:relative;
    margin-top:20px;
}

.add.heading {
    background-color:black;
}*/

.vacancy {
    width:300px;

    margin:0 auto;
    margin-top:40px;

    position:relative;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);

    border-radius:8px;
}



.vacancy .p1{
    top:10px;
    position:relative;
    text-align:center;
    text-weight:bold;
    font-size:28px;
}

.vacancy .p2{
    text-align:center;
    font-size:17px;
    position:relative;
    padding:0 20px 40px 20px;
}

.delete{
    position:absolute;
    top:5px;
    right:5px;
    color:black;
    transition:all 0.4s;
    text-decoration:none;
    font-size:10px;
    padding:3px;
    /*background-color:red;
    border:black;
    border-radius:6px;*/

}
.delete:hover{

    color:orange;
    margin-top:3px;
}