{% extends "user_header.html" %}
{% block page_title %}User{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/resume.css">
{% endblock %}

{% block content %}
	<div class ="add">
			<form action="{{url_for('personal_account_user.personal_account')}}" method="POST">
				<p>ADD RESUME</p>
					{{ form.hidden_tag() }}
					<p>{{ form.name.label() }} {{ form.name }}</p>
					<p>{{ form.address.label() }} {{ form.address }}</p>
					<p>{{ form.gender.label() }} {{ form.gender }}</p>
                    <p>{{ form.education.label() }} {{ form.education }}</p>
					<p>{{ form.birthday.label() }} {{ form.birthday }}</p>
					<p>{{ form.resume.label() }} {{ form.resume }}</p>
                    {{ form.submit() }}
			</form>
	</div>
{% endblock %}