{% extends "main_header.html" %}
{% block page_title %}Auth{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/auth.css">
{% endblock %}

{% block content %}
		<div class='reg'>
			<h1 align="center" class = 'lg'> Autorization</h1>
		    <div align="center">
		        <form method="post" action="">
					<input type="text" class="login" id="login" name="login" placeholder="login">
			        <input type="password" class="password" name="password" id="password" placeholder="password">
			        <input type="submit" class="submit" value="Send">
			    </form>
			</div>
			{% if message%}
				<div class="message">{{message}}</div>
			{% endif %}
		</div>
{% endblock %}