{% extends "main_header.html" %}
{% block page_title %}Auth{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/auth.css">
{% endblock %}

{% block content %}
		<div class='reg'>
			<h1 align="center" class = 'lg'> Autorization</h1>
			<div align="center">
				<form method="post" action="" class="form-contact">
					{{ form.hidden_tag() }}
					<p>{{ form.login.label() }} {{ form.login }}</p>
					<p>{{ form.password.label() }} {{ form.password }}</p>
					{{ form.submit() }}
				</form>
			</div>
			{% if message%}
				<div class="message">{{message}}</div>
			{% endif %}
		</div>
{% endblock %}