.message{
    text-align:center;
    font-size:24px;
}

.reg {
	width: 250px;
	height: 300px;
	border: 1px solid #808080;
	border-radius: 6px;
	background-color: #D3D3D3;
	position: relative;
	top: 15%;
	left: 43%;
}

.login{
	position: relative;
	margin-top:10%;
}

.password {
	position: relative;
	margin-top: 15%;
}

.lg {
	top: 5%;
	position: relative;
}

.center {
    display: flex;
    justify-content: center;
}