{% extends "base.html" %}
{% block page_title %}Ask{% endblock %}

{% block header %}
    <div class="head">
		<nav class="nav">
			<a class ="nav_link" href="{{ url_for('menu_choice') }}">Main</a>
			<a class ="nav_link" href="#">About us</a>
			<a class ="nav_link" href="#">Shop</a>
			{% if username %}
			<a class ="nav_link" href="{{ url_for('blueprint_auth.start_auth') }}">{{username}}</a>
			{% else %}
			<a class ="nav_link" href="{{ url_for('blueprint_auth.start_auth') }}">Account</a>
			{% endif %}
		</nav>
	</div>
{% endblock %}