{% extends "admin_header.html" %}
{% block page_title %}Interview{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/candidates.css">
{% endblock %}

{% block content %}
<div class="response">
				<table class="table" id="table">
					<thead class="thd">
					<tr>
						<th class="e">Full name</th>
						<th class="e">Vacancy</th>
						<th class="e">Address</th>
						<th class="e">Gender</th>
						<th class="e">Education</th>
						<th class="e">Date of birth</th>
						<th class="e">Actions</th>
					</tr>
					</thead>
					<tbody class="tby">
					{% for i in array %}

					<tr class="tr" id="tr">

						<td>{{i.get('Name')}}</td>
						<td>{{i.get('Pos_name')}}</td>
						<td>{{i.get('Address')}}</td>
						<td>{{i.get('Gender')}}</td>
						<td>{{i.get('education')}}</td>
						<td>{{i.get('birthday')}}</td>
						<td>
							<div class="menu">
								<a class="interview" href="{{ url_for('interview.interview') }}">Interview</a>
							</div>
						</td>

					</tr>
					{% endfor %}
					<tbody>

				</table>
			</div>
{% endblock %}