{% extends "admin_header.html" %}
{% block page_title %}Vacancy{% endblock %}

{% block css %}
	<link rel="stylesheet" href="static/vacancy.css">
{% endblock %}

{% block content %}
	<div>
		{% if array!=None %}
			{% for i in array %}
				<div class="vacancy">
					<a class="delete" href="{{ url_for('vacancy.delete_vacancy', vacancy_id=i.get('Vac_id')) }}">X</a>
					<p class="p1">{{ i.get("Name") }}</p>
					<p class="p2">{{ i.get("txt") }}</p>
				</div>
			{% endfor %}
		{% endif %}
		<div class ="add">
			<form action="{{url_for('vacancy.vacancy_add')}}" method="POST">
				<p>ADD VACANСY</p>
				     {{ form.hidden_tag() }}
					<p>{{ form.head.label() }} {{ form.head }}</p>
					<p>{{ form.text.label() }} {{ form.text }}</p>
					<p>{{ form.salary.label() }} {{ form.salary }}</p>
				{{ form.submit() }}
			</form>
		</div>
	</div>

{% include 'paginator.html' %}
{% block paginator %}{% endblock %}

{% endblock %}